*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#3C96ED;
}

body {
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#wrapper {
    height: 100vh;
}

#container {
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.column {
    flex-grow: 1;
    width: 50%;
}

.left {
    background-image: url('./assets/freepik__three-people-of-different-races-average-age-20-in-__91236\ 1-Photoroom.png');
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom:50px;
}

.right {
    padding-left: 20px;
}

.login-painel {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    text-align: center;
    padding: 20px 0;
}

.logo-img {
    width: 175px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="password"], input[type="text"]{
    background-color: #FFFFFF;
    border: 1px solid #ECEAEA;
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
}

input[type="password"]::placeholder, input[type="text"]::placeholder {
    color: #A5A5A4;
}

input[type="password"]:focus, input[type="text"]:focus {
    outline: 0;
    border: 1px solid #A1A1A1;
}

input[type="submit"] {
    width: 320px;
    margin-top: 10px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    background-color: #3C96ED;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.infobox{
    background-color: #FFFFFF;
    height: 60px;
    border: 1px solid #ECEAEA;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infobox p {
    user-select: none;
}

.infobox p a {
    font-weight: bold;
    user-select: none;
}

.get-app-painel {
    margin-top: 20px;
    text-align: center;
    user-select: none;
}

.app-buttons {
    margin-top: 16px;
}

.app-buttons img {
    height:40px;
}

footer{
    text-align: center;
    height: 50px;
    margin-top: -50px;
}

footer a {
    color: #000000;
    font-weight: bold;
    margin-right: 8px;
}

.text-small {
    font-size: 12px;
    font-weight: bold;
    color: #A1A1A1;
    text-transform: uppercase;
    padding-left: 20px;
    display: inline-block;
}

/* Página SignUp*/

#container-signup {
    margin: 0 auto;
    min-height: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.message {
    margin: 10px 70px;
}

.message span {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color:#A5A5A4;
    user-select: none;
}

.cta-button {
    width: 320px;
    margin-top: 10px 0;
    height: 35px;
    border: 0;
    border-radius: 4px;
    background-color: #3C96ED;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.divisor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.line {
    height: 1px;
    background-color: #E6E6E6;
    width: 35%;
}

.divisor-tag {
    font-weight: bold;
    margin: 0 2.5%;
    color: #A5A5A4;
    user-select: none;
}

/* Resposividade */
@media (max-width: 850px){
    .left {
        display: none;
    }

    #container {
        width:70%;
    }

    .right {
        padding-right: 0;
    }
}

@media (max-width: 560px){
    #container {
        width:90%;
    }

    #container-signup {
        width: 90%;
    }

    input[type="password"], input[type="text"], input[type="submit"] {
        width: 80%;
    }

    .cta-button {
        width: 80%;
    }

    .message {
        margin: 10px 25px;
    }
}